## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [343]:
#Import package
import pandas as pd
import numpy as np

In [344]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [345]:
path = '/content/drive/My Drive/Colab Notebooks/imdb_data.csv'

In [346]:
imdb_df = pd.read_csv(path)

In [347]:
imdb_df.shape
# Here we can see that total no of rows are 3000

(3000, 23)

In [348]:
imdb_df.info()

# Here we can see that some columns such as 'genres' , 'belongs_to_collection','homepage' etc
# do not conatin all the 3000 rows
# It means they also contains null values  
# Whereas columns like id or budget or revenue etc contains all 3000 data and hence do no contain any null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [349]:
imdb_df.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [350]:
# There are a lot of columns. We don't need all the columns for our analysis. We will take only those columns which are necessary
# to answer the given questions

In [351]:
columns_to_keep = ['id','budget','genres','original_language','original_title','cast', 'crew', 'revenue']

In [352]:
imdb_df = imdb_df[columns_to_keep]

In [353]:
imdb_df.info()
# Now genre, cast and crew contains the null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3000 non-null   int64
 1   budget             3000 non-null   int64
 2   genres             2993 non-null   object
 3   original_language  3000 non-null   object
 4   original_title     3000 non-null   object
 5   cast               2987 non-null   object
 6   crew               2984 non-null   object
 7   revenue            3000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 187.6+ KB

# 1. Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.

In [354]:
# First let us find profit. For this we will create a new column called 'profit'

imdb_df['profit'] = imdb_df['revenue'] - imdb_df['budget']

In [355]:
# let us describe the data. It will give an insight to our data
imdb_df.describe()

# As we can see that minimum budget is 0 and also in 25% of the rows the budget is 0.
# Also minimum revenue is 1.
# All of these data doesn't make any sense

                id        budget       revenue        profit
count  3000.000000  3.000000e+03  3.000000e+03  3.000000e+03
mean   1500.500000  2.253133e+07  6.672585e+07  4.419452e+07
std     866.169729  3.702609e+07  1.375323e+08  1.123274e+08
min       1.000000  0.000000e+00  1.000000e+00 -1.074474e+08
25%     750.750000  0.000000e+00  2.379808e+06  1.795200e+04
50%    1500.500000  8.000000e+06  1.680707e+07  6.121122e+06
75%    2250.250000  2.900000e+07  6.891920e+07  4.143293e+07
max    3000.000000  3.800000e+08  1.519558e+09  1.316249e+09

In [356]:
# imdb_df[imdb_df['budget'] == 0].head(5)
# imdb_df['budget'].median()

In [357]:
# So what we will do is, we will replace all the budget and revenue having value less than say $1000 with the 
# median value of the budget and revenue column respectively.
# we replace with median instead of mean because median is very less affected by outliers.
""" These process is what we call sanity check of data """

' These process is what we call sanity check of data '

In [358]:
# imdb_df_new = imdb_df   => if we execute this then changes made in one will be reflected in both

# creating a copy of original datafreame
# changes in one will not be reflected in both
imdb_df_new = imdb_df.copy()

In [359]:
# imdb_df_new[imdb_df_new['budget']<1000]['budget'] = imdb_df_new['budget'].median()
# Above code will give error or warning
imdb_df_new.loc[imdb_df_new['budget']<1000,'budget'] = imdb_df_new['budget'].median()
imdb_df_new.loc[imdb_df_new['revenue']<1000,'revenue'] = imdb_df_new['revenue'].median()

In [360]:
# imdb_df[imdb_df['budget'] == 0].head(5)
# imdb_df_new[imdb_df_new['budget'] == 0].head(5)

In [361]:
# Now since we have made changes to the budget and revenue columns so let us again 
# print the profit column
imdb_df_new['profit'] = imdb_df_new['revenue'] - imdb_df_new['budget']

####Now we have to print the maximum profit and movie name. For this we can either follow crude way or proper way. For official documentation or presentation use proper way

######When we are in hurry and just want to do analysis we can go in crude way Like below

In [362]:
imdb_df_new.profit.max()

1316249360

In [363]:
imdb_df_new[imdb_df_new.profit == imdb_df_new.profit.max()]

        id     budget  ...     revenue      profit
1761  1762  190000000  ...  1506249360  1316249360

[1 rows x 9 columns]

In [364]:
imdb_df_new[imdb_df_new.profit == imdb_df_new.profit.max()]['original_title']

1761    Furious 7
Name: original_title, dtype: object

######Proper Way

In [365]:
# for can use idxmax() function on 'profit' column to get the index of maximum profit
# using this index we can properly find the other things
imdb_df_new['profit'].idxmax()
# imdb_df_new.profit.idxmax()

1761

In [366]:
imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'original_title']

'Furious 7'

####Now we have print the actor, director and producer name. We can print this using crew and cast column

In [367]:
imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'crew']
# this contains the name of director and producer

'[{\'credit_id\': \'52fe4cc8c3a36847f823e681\', \'department\': \'Production\', \'gender\': 2, \'id\': 12835, \'job\': \'Producer\', \'name\': \'Vin Diesel\', \'profile_path\': \'/7rwSXluNWZAluYMOEWBxkPmckES.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e687\', \'department\': \'Production\', \'gender\': 2, \'id\': 11874, \'job\': \'Producer\', \'name\': \'Neal H. Moritz\', \'profile_path\': \'/cNcsEYmoS4niCz3UkVAA09dUIob.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e68d\', \'department\': \'Writing\', \'gender\': 2, \'id\': 58191, \'job\': \'Writer\', \'name\': \'Chris Morgan\', \'profile_path\': \'/dUGxIwFBLrSFLImxjeda1krndMO.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e693\', \'department\': \'Writing\', \'gender\': 0, \'id\': 8162, \'job\': \'Characters\', \'name\': \'Gary Scott Thompson\', \'profile_path\': \'/e2dMfqFvRsOXgWZ1VToYLmos17y.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e699\', \'department\': \'Directing\', \'gender\': 2, \'id\': 2127, \'job\': \'Director\', \'name\': \'James Wan\', \'profile_path\': \'/d1LSKfzi5J6QngWS7niN1zPJdud.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e6a7\', \'department\': \'Camera\', \'gender\': 2, \'id\': 58192, \'job\': \'Director of Photography\', \'name\': \'Stephen F. Windon\', \'profile_path\': None}, {\'credit_id\': \'5534714692514125dc002be4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1455610, \'job\': \'Animation\', \'name\': \'Tony Mecca\', \'profile_path\': None}, {\'credit_id\': \'554fa7b992514110bd002a9d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1421687, \'job\': \'Director of Photography\', \'name\': \'Marc Spicer\', \'profile_path\': None}, {\'credit_id\': \'554fa7cbc3a36822540047fd\', \'department\': \'Production\', \'gender\': 1, \'id\': 90635, \'job\': \'Executive Producer\', \'name\': \'Samantha Vincent\', \'profile_path\': None}, {\'credit_id\': \'554fa7d89251413fcf00773d\', \'department\': \'Production\', \'gender\': 0, \'id\': 84064, \'job\': \'Associate Producer\', \'name\': \'F. Valentino Morales\', \'profile_path\': \'/w85eCnNP0VgmfV5NWyq2SvRGi2y.jpg\'}, {\'credit_id\': \'554fa7f2c3a3682254004803\', \'department\': \'Production\', \'gender\': 2, \'id\': 8181, \'job\': \'Producer\', \'name\': \'Michael Fottrell\', \'profile_path\': None}, {\'credit_id\': \'554fa80292514110bd002aa8\', \'department\': \'Production\', \'gender\': 0, \'id\': 75826, \'job\': \'Producer\', \'name\': \'Brandon Birtell\', \'profile_path\': None}, {\'credit_id\': \'55ed993ac3a3682c62015607\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1204244, \'job\': \'Editor\', \'name\': \'Leigh Folsom Boyd\', \'profile_path\': None}, {\'credit_id\': \'55ed994cc3a3687d3b00d64c\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1204245, \'job\': \'Editor\', \'name\': \'Dylan Highsmith\', \'profile_path\': None}, {\'credit_id\': \'55ed995dc3a3682c5d016867\', \'department\': \'Editing\', \'gender\': 0, \'id\': 62813, \'job\': \'Editor\', \'name\': \'Kirk M. Morri\', \'profile_path\': None}, {\'credit_id\': \'55ed99739251413e41014641\', \'department\': \'Editing\', \'gender\': 2, \'id\': 6668, \'job\': \'Editor\', \'name\': \'Christian Wagner\', \'profile_path\': None}, {\'credit_id\': \'55ed99859251413e3a014aae\', \'department\': \'Production\', \'gender\': 1, \'id\': 9545, \'job\': \'Casting\', \'name\': \'Anne McCarthy\', \'profile_path\': None}, {\'credit_id\': \'55ed99a4c3a3682c5d016875\', \'department\': \'Production\', \'gender\': 0, \'id\': 1276602, \'job\': \'Casting\', \'name\': \'Kellie Roy\', \'profile_path\': None}, {\'credit_id\': \'55ed99c7c3a3682c5d01687e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1445830, \'job\': \'Art Direction\', \'name\': \'Jonathan Carlos\', \'profile_path\': None}, {\'credit_id\': \'55ed99d89251413e32014a65\', \'department\': \'Art\', \'gender\': 2, \'id\': 62780, \'job\': \'Art Direction\', \'name\': \'Alan Hook\', \'profile_path\': None}, {\'credit_id\': \'55ed99e992514106d600d85e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1493864, \'job\': \'Art Direction\', \'name\': \'Jay Pelissier\', \'profile_path\': None}, {\'credit_id\': \'55ed9a36c3a3682c700147e3\', \'department\': \'Art\', \'gender\': 1, \'id\': 1506359, \'job\': \'Art Department Coordinator\', \'name\': \'Kelly Richardson\', \'profile_path\': None}, {\'credit_id\': \'55ed9a52c3a3682c640130c3\', \'department\': \'Art\', \'gender\': 0, \'id\': 1506360, \'job\': \'Art Department Coordinator\', \'name\': \'Courtney Cocherell\', \'profile_path\': None}, {\'credit_id\': \'55ed9a6cc3a368090c004f9c\', \'department\': \'Art\', \'gender\': 0, \'id\': 1326651, \'job\': \'Assistant Art Director\', \'name\': \'Elena Albanese\', \'profile_path\': None}, {\'credit_id\': \'55ed9a96c3a3686f17003be1\', \'department\': \'Art\', \'gender\': 0, \'id\': 1405376, \'job\': \'Assistant Art Director\', \'name\': \'Alex McCarroll\', \'profile_path\': None}, {\'credit_id\': \'55ed9acbc3a3682c640130e4\', \'department\': \'Art\', \'gender\': 0, \'id\': 1338147, \'job\': \'Construction Coordinator\', \'name\': \'Bruce Di Valerio\', \'profile_path\': None}, {\'credit_id\': \'55ed9b03c3a3682c640130f5\', \'department\': \'Art\', \'gender\': 2, \'id\': 52600, \'job\': \'Production Design\', \'name\': \'Bill Brzeski\', \'profile_path\': None}, {\'credit_id\': \'55ed9b169251413e2f0145a8\', \'department\': \'Art\', \'gender\': 1, \'id\': 75391, \'job\': \'Set Decoration\', \'name\': \'Danielle Berman\', \'profile_path\': None}, {\'credit_id\': \'55ed9b29c3a3682c5d0168d9\', \'department\': \'Costume & Make-Up\', \'gender\': 1, \'id\': 2519, \'job\': \'Costume Design\', \'name\': \'Sanja Milkovic Hays\', \'profile_path\': None}, {\'credit_id\': \'55ed9bdac3a3682c62015698\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1439109, \'job\': \'Costume Supervisor\', \'name\': \'Nava R. Sadan\', \'profile_path\': None}, {\'credit_id\': \'55ed9c0bc3a3686f17003c45\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1439747, \'job\': \'Costume Supervisor\', \'name\': \'Andrew Hunt\', \'profile_path\': None}, {\'credit_id\': \'55ed9c3192514106d600d8e0\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506364, \'job\': \'Set Costumer\', \'name\': \'Jim Alan Cook\', \'profile_path\': None}, {\'credit_id\': \'55ed9c45c3a3682c5d016925\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1415019, \'job\': \'Set Costumer\', \'name\': \'Shayne Allen Duhon\', \'profile_path\': None}, {\'credit_id\': \'55ed9c579251413e32014af5\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506365, \'job\': \'Set Costumer\', \'name\': \'Empress Holley\', \'profile_path\': None}, {\'credit_id\': \'55ed9c6d9251413e450148ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1413125, \'job\': \'Set Costumer\', \'name\': \'Marina Marit\', \'profile_path\': None}, {\'credit_id\': \'55ed9c8d92514106d600d8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506366, \'job\': \'Set Costumer\', \'name\': \'Les Morgan\', \'profile_path\': None}, {\'credit_id\': \'55ed9cda9251413e2f014612\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1408293, \'job\': \'Hairstylist\', \'name\': \'Linda D. Flowers\', \'profile_path\': None}, {\'credit_id\': \'55ed9cf69251413e2f01461d\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1412767, \'job\': \'Hairstylist\', \'name\': "Yesim \'Shimmy\' Osman", \'profile_path\': None}, {\'credit_id\': \'55ed9d0ec3a3687d3b00d73a\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506367, \'job\': \'Hairstylist\', \'name\': \'Jennifer Santiago\', \'profile_path\': None}, {\'credit_id\': \'55ed9d2a9251413e3e0155d8\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1425409, \'job\': \'Hairstylist\', \'name\': \'Rachel Solow\', \'profile_path\': None}, {\'credit_id\': \'55ed9d4cc3a3682c620156ed\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1452643, \'job\': \'Hairstylist\', \'name\': \'Roxane Griffin\', \'profile_path\': None}, {\'credit_id\': \'55ed9d6fc3a3682c5d01696f\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1309209, \'job\': \'Makeup Department Head\', \'name\': \'James MacKinnon\', \'profile_path\': None}, {\'credit_id\': \'55ed9d8cc3a368090c00504f\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506368, \'job\': \'Makeup Artist\', \'name\': \'Autumn Butler\', \'profile_path\': None}, {\'credit_id\': \'55ed9da09251413e3a014b98\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1437798, \'job\': \'Makeup Artist\', \'name\': "Roxy D\'Alonzo", \'profile_path\': None}, {\'credit_id\': \'55ed9db79251413e3a014ba5\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506369, \'job\': \'Makeup Artist\', \'name\': \'Hee Soo Kwon\', \'profile_path\': None}, {\'credit_id\': \'55ed9dce9251413e32014b4e\', \'department\': \'Costume & Make-Up\', \'gender\': 1, \'id\': 1459196, \'job\': \'Makeup Artist\', \'name\': \'Sarah Mays\', \'profile_path\': None}, {\'credit_id\': \'55ed9de4c3a3687d3b00d775\', \'department\': \'Costume & Make-Up\', \'gender\': 2, \'id\': 15330, \'job\': \'Makeup Artist\', \'name\': \'Paul Pattison\', \'profile_path\': None}, {\'credit_id\': \'55ed9df99251413e3e015610\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1317667, \'job\': \'Makeup Artist\', \'name\': \'Eleanor Sabaduquia\', \'profile_path\': None}, {\'credit_id\': \'55ed9e1fc3a3687d3b00d77e\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1414497, \'job\': \'Property Master\', \'name\': \'Guillaume DeLouche\', \'profile_path\': None}, {\'credit_id\': \'55ed9e3ac3a368090c005084\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1464516, \'job\': \'Property Master\', \'name\': \'Douglas T. Madison\', \'profile_path\': None}, {\'credit_id\': \'55ed9f5d9251413e3e015662\', \'department\': \'Crew\', \'gender\': 2, \'id\': 57158, \'job\': \'Second Unit Cinematographer\', \'name\': \'Igor Meglic\', \'profile_path\': None}, {\'credit_id\': \'55ed9fa0c3a3682c6401320f\', \'department\': \'Crew\', \'gender\': 0, \'id\': 13670, \'job\': \'Second Unit Cinematographer\', \'name\': \'Jacques Haitkin\', \'profile_path\': None}, {\'credit_id\': \'55ed9fc59251413e32014bbc\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1437304, \'job\': \'Gaffer\', \'name\': \'Michael Ambrose\', \'profile_path\': None}, {\'credit_id\': \'55ed9fe79251413e410147e4\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1506371, \'job\': \'Camera Operator\', \'name\': \'Denise Bailie\', \'profile_path\': None}, {\'credit_id\': \'55ed9ffa9251413e3a014c40\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1506373, \'job\': \'Camera Operator\', \'name\': \'Robert-James Bova\', \'profile_path\': None}, {\'credit_id\': \'55eda0299251413e3a014c49\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1439108, \'job\': \'Rigging Gaffer\', \'name\': \'Tom Fendley\', \'profile_path\': None}, {\'credit_id\': \'55eda056c3a3682c7001494b\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1434896, \'job\': \'Camera Operator\', \'name\': \'Sarah Levy\', \'profile_path\': None}, {\'credit_id\': \'55eda06e9251413e450149ee\', \'department\': \'Camera\', \'gender\': 2, \'id\': 74989, \'job\': \'Camera Operator\', \'name\': \'Mark Emery Moore\', \'profile_path\': \'/mhjX0FuAXv6SeSLLFHpaaiQbx6P.jpg\'}, {\'credit_id\': \'55eda082c3a3682c6b014009\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1432918, \'job\': \'Camera Operator\', \'name\': \'Daniel Nichols\', \'profile_path\': None}, {\'credit_id\': \'55eda09d9251413e3e01569d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1439104, \'job\': \'Camera Operator\', \'name\': \'Onofrio Nino Pansini\', \'profile_path\': None}, {\'credit_id\': \'55eda0b59251413e3a014c6c\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1408356, \'job\': \'Camera Operator\', \'name\': \'David Richert\', \'profile_path\': None}, {\'credit_id\': \'55eda0d1c3a3686f17003d58\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1411271, \'job\': \'Camera Operator\', \'name\': \'Michael J. Walker\', \'profile_path\': None}, {\'credit_id\': \'55eda0f7c3a3687d3b00d81b\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1378241, \'job\': \'Camera Operator\', \'name\': \'Maurice K. McGuire\', \'profile_path\': None}, {\'credit_id\': \'55eda1159251413e3e0156bd\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1411842, \'job\': \'Camera Operator\', \'name\': \'Richard Latham\', \'profile_path\': None}, {\'credit_id\': \'55eda12c92514106d600da0a\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1404739, \'job\': \'Helicopter Camera\', \'name\': \'Steve Koster\', \'profile_path\': None}, {\'credit_id\': \'55eda1939251413e3501498d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 91122, \'job\': \'Helicopter Camera\', \'name\': \'Dylan Goss\', \'profile_path\': None}, {\'credit_id\': \'55eda1b39251413e3a014ca8\', \'department\': \'Camera\', \'gender\': 0, \'id\': 82169, \'job\': \'Steadicam Operator\', \'name\': \'Geoffrey Haley\', \'profile_path\': None}, {\'credit_id\': \'55eda1c7c3a3686f17003d8c\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1419105, \'job\': \'Still Photographer\', \'name\': \'Scott Garfield\', \'profile_path\': None}, {\'credit_id\': \'55eda1dbc3a3686f17003d92\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1395281, \'job\': \'Additional Camera\', \'name\': \'Bob Gorelick\', \'profile_path\': None}, {\'credit_id\': \'55eda200c3a3682c5d016a8f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1375920, \'job\': \'Additional Camera\', \'name\': \'J. Christopher Campbell\', \'profile_path\': None}, {\'credit_id\': \'55eda228c3a3682c64013295\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1403412, \'job\': \'Gaffer\', \'name\': \'Dan Cornwall\', \'profile_path\': None}, {\'credit_id\': \'55eda25f92514106d600da4b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1442137, \'job\': \'Animation Supervisor\', \'name\': \'Catherine Mullan\', \'profile_path\': None}, {\'credit_id\': \'55eda292c3a3682c5d016ab2\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1393405, \'job\': \'Music Editor\', \'name\': \'Robb Boyd\', \'profile_path\': None}, {\'credit_id\': \'55eda2a9c3a3682c6b014075\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1328758, \'job\': \'Music Editor\', \'name\': \'Matthew Llewellyn\', \'profile_path\': None}, {\'credit_id\': \'55eda2c89251413e45014a6d\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1389138, \'job\': \'Script Supervisor\', \'name\': \'Jody Blose\', \'profile_path\': None}, {\'credit_id\': \'55eda305c3a3682c700149c1\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1408365, \'job\': \'Script Supervisor\', \'name\': \'Brenda K. Wachel\', \'profile_path\': None}, {\'credit_id\': \'55eda32dc3a3686f17003ddd\', \'department\': \'Crew\', \'gender\': 2, \'id\': 8167, \'job\': \'Thanks\', \'name\': \'Paul Walker\', \'profile_path\': \'/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg\'}, {\'credit_id\': \'55eda3b592514106d600da94\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1400354, \'job\': \'Digital Intermediate\', \'name\': \'Amy Pawlowski\', \'profile_path\': None}, {\'credit_id\': \'55eda3d792514106d600da9b\', \'department\': \'Editing\', \'gender\': 0, \'id\': 110262, \'job\': \'First Assistant Editor\', \'name\': \'Richard Conkling\', \'profile_path\': None}, {\'credit_id\': \'55eda3edc3a3686f17003e0c\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1194885, \'job\': \'First Assistant Editor\', \'name\': \'Dave  Cory\', \'profile_path\': None}, {\'credit_id\': \'55eda4169251413e410148ec\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1439749, \'job\': \'First Assistant Editor\', \'name\': \'Laura Steiger\', \'profile_path\': None}, {\'credit_id\': \'55eda48092514106d600daba\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1506377, \'job\': \'Animation Supervisor\', \'name\': \'Daniel Barrett\', \'profile_path\': \'/pplTJP3gCWmP3SMDrXjOt1579MV.jpg\'}, {\'credit_id\': \'55eda5109251413e32014cf0\', \'department\': \'Sound\', \'gender\': 0, \'id\': 12562, \'job\': \'ADR & Dubbing\', \'name\': \'Anna MacKenzie\', \'profile_path\': None}, {\'credit_id\': \'55eda51ac3a3686f17003e52\', \'department\': \'Editing\', \'gender\': 0, \'id\': 12562, \'job\': \'Dialogue Editor\', \'name\': \'Anna MacKenzie\', \'profile_path\': None}, {\'credit_id\': \'55eda539c3a368090c0051c2\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1342658, \'job\': \'Dialogue Editor\', \'name\': \'Frederick H. Stahly\', \'profile_path\': None}, {\'credit_id\': \'55eda56a9251413e45014adf\', \'department\': \'Sound\', \'gender\': 2, \'id\': 1077782, \'job\': \'Foley\', \'name\': \'Gary A. Hecker\', \'profile_path\': \'/qyBUauN3XIS2Mlus3OdGCmrUo0S.jpg\'}, {\'credit_id\': \'55eda58292514106d600daf4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1367362, \'job\': \'Foley\', \'name\': \'Rick Owens\', \'profile_path\': None}, {\'credit_id\': \'55eda59ac3a3682c5d016b50\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1236340, \'job\': \'Foley\', \'name\': \'Dylan Tuomy-Wilhoit\', \'profile_path\': None}, {\'credit_id\': \'55eda5b09251413e45014af1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 548445, \'job\': \'Foley\', \'name\': \'Jeffrey Wilhoit\', \'profile_path\': None}, {\'credit_id\': \'55eda7169251413e45014b3b\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7239, \'job\': \'Sound Designer\', \'name\': \'Peter Brown\', \'profile_path\': None}, {\'credit_id\': \'55eda73d9251413e4101498c\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1392083, \'job\': \'Sound Designer\', \'name\': \'Ann Scibelli\', \'profile_path\': None}, {\'credit_id\': \'55eda779c3a3682c70014abc\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1413453, \'job\': \'Sound Effects Editor\', \'name\': \'Stephen P. Robinson\', \'profile_path\': None}, {\'credit_id\': \'55eda7989251413e3e015838\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1394131, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Jon Taylor\', \'profile_path\': None}, {\'credit_id\': \'55eda7afc3a3686f17003ebf\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1394130, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Frank A. Montao\', \'profile_path\': None}, {\'credit_id\': \'55eda7d79251413e32014e11\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1309884, \'job\': \'Supervising Sound Editor\', \'name\': \'Joe Dzuban\', \'profile_path\': None}, {\'credit_id\': \'570bd40dc3a36802a30002d9\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424153, \'job\': \'Supervising Art Director\', \'name\': \'Desma Murphy\', \'profile_path\': None}, {\'credit_id\': \'5668cc7a92514174040040f2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 6041, \'job\': \'Original Music Composer\', \'name\': \'Brian Tyler\', \'profile_path\': \'/22QWiNJj03amY6GT1QPUs7dbdcB.jpg\'}, {\'credit_id\': \'58ebe1fa925141281008e943\', \'department\': \'Production\', \'gender\': 2, \'id\': 58191, \'job\': \'Executive Producer\', \'name\': \'Chris Morgan\', \'profile_path\': \'/dUGxIwFBLrSFLImxjeda1krndMO.jpg\'}]'

In [368]:
# But see what is the data type of this column or values in this column

type(imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'crew'])

# its of type string

str

In [369]:
# So we will first convert this value back into list of dictionary
# Its better to convert the whole column value at the dataset level back into list of dictionaries.
# We can use eval() function or literal_eval() function for this

In [370]:
# defining a function to convert a string to list
def convert_to_list(string):
  return eval(string)

In [371]:
# Below line of code will give error because there are null values in cast and crew columns as we have  
# seen using info() function

# imdb_df_new['crew'] = imdb_df_new['crew'].apply(convert_to_list)

In [372]:
# Applying the above function only on non null values of genre, crew and cast column

imdb_df_new.loc[~imdb_df_new['crew'].isna(),'crew'] = imdb_df_new.loc[~imdb_df_new['crew'].isna(),'crew'].apply(convert_to_list)
imdb_df_new.loc[~imdb_df_new['cast'].isna(),'cast'] = imdb_df_new.loc[~imdb_df_new['cast'].isna(),'cast'].apply(convert_to_list)
imdb_df_new.loc[~imdb_df_new['genres'].isna(),'genres'] = imdb_df_new.loc[~imdb_df_new['genres'].isna(),'genres'].apply(convert_to_list)

In [373]:
# Now check the data type of values of these columns again

type(imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'crew'])

# It is now list.

#It is actually a list of dictionary. Print the below code to see this
# imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'crew']

list

In [374]:
# now since we have converted genres, cast and crew into list. So lets us print name of actor, producer and director

######Printing actors name

In [375]:
#  cast_list = imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'cast']

actor = []

for i in imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'cast']:
  actor.append(i['name'])

actor

['Vin Diesel',
 'Paul Walker',
 'Dwayne Johnson',
 'Michelle Rodriguez',
 'Tyrese Gibson',
 'Ludacris',
 'Jordana Brewster',
 'Djimon Hounsou',
 'Tony Jaa',
 'Ronda Rousey',
 'Nathalie Emmanuel',
 'Kurt Russell',
 'Jason Statham',
 'Sung Kang',
 'Gal Gadot',
 'Lucas Black',
 'Elsa Pataky',
 'Noel Gugliemi',
 'John Brotherton',
 'Luke Evans',
 'Ali Fazal',
 'Miller Kimsey',
 'Charlie Kimsey',
 'Eden Estrella',
 'Gentry White',
 'Iggy Azalea',
 'Jon Lee Brody',
 'Levy Tran',
 'Anna Colwell',
 'Viktor Hernandez',
 'Steve Coulter',
 'Robert Pralgo',
 'Antwan Mills',
 'J.J. Phillips',
 'Jorge Ferragut',
 'Sara Sohn',
 'Benjamin Blankenship',
 'D.J. Hapa',
 'T-Pain',
 'Brian Mahoney',
 'Brittney Alger',
 'Romeo Santos',
 'Jocelin Donahue',
 'Stephanie Langston',
 'Jorge-Luis Pallo',
 'Tego Caldern',
 'Nathalie Kelley',
 'Shad Moss',
 'Don Omar',
 'Klement Tinaj',
 'Caleb Walker',
 'Cody Walker']

######Printing Director and Producer Name

In [376]:
# There is no separate list for producer and director. 
# crew column contains info about producer, director, writer and all others
# imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'crew']

directors = []
producers = []

for i in imdb_df_new.loc[imdb_df_new['profit'].idxmax(),'crew']:
  if i['job'] == 'Producer':
    producers.append(i['name'])
  elif i['job'] == 'Director':
    directors.append(i['name'])
print("Directors name for the movie are ", directors)
print("Producers name for the movie are ", producers)

Directors name for the movie are  ['James Wan']
Producers name for the movie are  ['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']

#2. This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?

In [377]:
# Adding a ROI column in our dataframe
imdb_df_new['roi'] = (imdb_df_new['profit']/imdb_df_new['budget'])*100

In [378]:
imdb_df_new.head(1)

   id    budget                          genres  ...   revenue   profit        roi
0   1  14000000  [{'id': 35, 'name': 'Comedy'}]  ...  12314651 -1685349 -12.038207

[1 rows x 10 columns]

In [379]:
# Applying group by on language so that ROIs of each language will be under same group
roi_df = imdb_df_new.groupby('original_language')['roi'].mean().reset_index() #reseting the index
# reset_index() is basically used to convert into dataFrames
roi_df.columns = ['language','avg_roi'] # renaming columns
roi_df.head(1)

  language    avg_roi
0       ar -83.153162

In [380]:
# Without reset_index(), it is just a type series 
# type(imdb_df_new.groupby('original_language')['roi'].mean())

# With reset_index(), it is of type DataFrame
# type(imdb_df_new.groupby('original_language')['roi'].mean().reset_index())

In [381]:
# idxmax() gives the index of maximum value of that column on which it is applied
language = roi_df.loc[roi_df['avg_roi'].idxmax(),'language']
print("Language with highest average ROI is ",language)

Language with highest average ROI is  ko

In [382]:
# We can also solve using sort_values() function

imdb_df_new.groupby('original_language')['roi'].mean().reset_index().sort_values(by = 'roi' , ascending = False).reset_index().loc[0,'original_language']

imdb_df_new.groupby('original_language')['roi'].mean().reset_index().sort_values(by = 'roi' , ascending = False).iloc[0,0]
# After sorting the index will be in jumbled state. So instead for using 'loc[]' we use 'iloc[]'

'ko'

# 3. Find out the unique genres of movies in this dataset.

In [383]:
# We can see that there are some null values in genres columns
imdb_df_new[imdb_df_new['genres'].isna()]

        id   budget genres  ...  revenue   profit         roi
470    471  2000000    NaN  ...  1672730  -327270  -16.363500
1622  1623   400000    NaN  ...    43719  -356281  -89.070250
1814  1815  2700000    NaN  ...  4635143  1935143   71.671963
1819  1820  8000000    NaN  ...   314195 -7685805  -96.072563
2423  2424   500000    NaN  ...   500000        0    0.000000
2686  2687  8000000    NaN  ...   123182 -7876818  -98.460225
2900  2901   200000    NaN  ...   486937   286937  143.468500

[7 rows x 10 columns]

In [384]:
# just checking some values in genres column
for i in imdb_df_new.loc[~imdb_df_new['genres'].isna(),'genres'].head(2):
  print(i)

[{'id': 35, 'name': 'Comedy'}]
[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]

In [385]:
# making a list to store a unique genres
unique_genres = []

for data in imdb_df_new.loc[~imdb_df_new['genres'].isna(),'genres']:
  for value in data:
    if value['name'] not in unique_genres:
      unique_genres.append(value['name'])

unique_genres

['Comedy',
 'Drama',
 'Family',
 'Romance',
 'Thriller',
 'Action',
 'Animation',
 'Adventure',
 'Horror',
 'Documentary',
 'Music',
 'Crime',
 'Science Fiction',
 'Mystery',
 'Foreign',
 'Fantasy',
 'War',
 'Western',
 'History',
 'TV Movie']

######2nd METHOD

###### We can also use iterrows() function. 
###### Iterrows() function gives us 2 values => index and complete row values for that index

In [386]:
no_na_genres = imdb_df_new[~imdb_df_new['genres'].isna()]

In [387]:
# iterrows() function returns index and rows. 
# 'rows' is the complete row value corresponding to the index in the format of dictionary
# i.e., rows is dictionary of complete row values for particular index

for index, rows in no_na_genres.head(2).iterrows():
  print(index)
  print(rows)
  print("\n")

# so 'rows' is basically a dictionary where column name is key and
# cell values for that 'index' are values
# eg. 'id' is key and value is 1. 
# eg. 'budget' is key and 14000000 is its value and so on

0
id                                                                   1
budget                                                        14000000
genres                                  [{'id': 35, 'name': 'Comedy'}]
original_language                                                   en
original_title                                  Hot Tub Time Machine 2
cast                 [{'cast_id': 4, 'character': 'Lou', 'credit_id...
crew                 [{'credit_id': '59ac067c92514107af02c8c8', 'de...
revenue                                                       12314651
profit                                                        -1685349
roi                                                           -12.0382
Name: 0, dtype: object


1
id                                                                   2
budget                                                        40000000
genres               [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
original_language                                                   en
original_title                The Princess Diaries 2: Royal Engagement
cast                 [{'cast_id': 1, 'character': 'Mia Thermopolis'...
crew                 [{'credit_id': '52fe43fe9251416c7502563d', 'de...
revenue                                                       95149435
profit                                                        55149435
roi                                                            137.874
Name: 1, dtype: object

In [388]:
# taking set instead of list because set will automatically contain unique values by default
unique_genres_list =set()
for index, rows in no_na_genres.iterrows():
  for genres in rows['genres']:
    unique_genres_list.add(genres['name'])

unique_genres_list

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

# 4. Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

###### Making Table

In [389]:
# Lets take only those rows where crew is Nan
no_na_crew = imdb_df_new[~imdb_df_new['crew'].isna()]
no_na_crew.head(1)

   id    budget                          genres  ...   revenue   profit        roi
0   1  14000000  [{'id': 35, 'name': 'Comedy'}]  ...  12314651 -1685349 -12.038207

[1 rows x 10 columns]

In [390]:
# now we need to create a table
table = pd.DataFrame(columns=['movie','producer','director','roi'])
table

Empty DataFrame
Columns: [movie, producer, director, roi]
Index: []

In [391]:
''' using index and rows of iterrows() function we can populate the table data frame using below code

 table = table.append({'movie':no_na_crew.loc[index,'original_title'],'producer': x(index),'director':x(index),'roi':no_na_crew.loc[index,'roi']},ignore_index=True)

where
x(index) is any function which takes index as an argument and return list of producer and director for each movie
ignore_index=True because dictionary won't be appended without it

try without ignore_index=True and we will get an error- can't append a dict without ignore_index=True
'''

" using index and rows of iterrows() function we can populate the table data frame using below code\n\n table = table.append({'movie':no_na_crew.loc[index,'original_title'],'producer': x(index),'director':x(index),'roi':no_na_crew.loc[index,'roi']},ignore_index=True)\n\nwhere\nx(index) is any function which takes index as an argument and return list of producer and director for each movie\nignore_index=True because dictionary won't be appended without it\n\ntry without ignore_index=True and we will get an error- can't append a dict without ignore_index=True\n"

In [392]:
# let us create the function to return the list of producer and director for each movie on the basis of index
def list_director_producer(index):
  crew = no_na_crew.loc[index,'crew']
  director_list = []
  producer_list = []
  for dict_ in crew:
    if dict_['job'] == 'Director':
      director_list.append(dict_['name'])
    elif dict_['job'] == 'Producer':
      producer_list.append(dict_['name'])
  return director_list,producer_list

In [393]:
# printing the list of director and producer for the movie at index say 51
director_list,producer_list = list_director_producer(51)
print(director_list)
print(producer_list)

['Blake Edwards']
['Martin Jurow']

In [394]:
# Now Appending the table
# We will use try and catch block because some of the rows in crew column contains float value which will raise error

for index,row in no_na_crew.iterrows():
  try:
    director_list,producer_list = list_director_producer(index)
    table = table.append({'movie':no_na_crew.loc[index,'original_title'],'producer': producer_list,'director':director_list,'roi':no_na_crew.loc[index,'roi']},ignore_index=True)
  except Exception as ex:
    # print(ex,row)  # print this line if want to know about exception and rows in which it occured
    continue

In [395]:
table.head(10)

                                      movie  ...          roi
0                    Hot Tub Time Machine 2  ...   -12.038207
1  The Princess Diaries 2: Royal Engagement  ...   137.873588
2                                  Whiplash  ...   296.727273
3                                   Kahaani  ...  1233.333333
4                                        ...   -50.950375
5    Pinocchio and the Emperor of the Night  ...   -59.229525
6                            The Possession  ...   510.329107
7                              Control Room  ...   -67.668613
8                    Muppet Treasure Island  ...   329.092387
9                             A Mighty Wind  ...   212.504100

[10 rows x 4 columns]

######Top 3 producers with heighest average ROI

In [396]:
# creating a producer_dataframe and taking only those rows where producer list is not empty

# table['producer'].isna() will not work here bcz there is no NaN values. There is empty lists
# table['producer'].str.len()!=0 => we can use this

producer_df = table[table['producer'].str.len() !=0] [['producer','roi']]
producer_df.reset_index(inplace=True)
producer_df.head(1)

   index        producer        roi
0      0  [Andrew Panay] -12.038207

In [397]:
# using explode method on producer column to separate all the values of the list in different rows
producer_df = producer_df.explode('producer')

In [398]:
top_3_df = pd.DataFrame(producer_df.groupby('producer')['roi'].mean()).reset_index()
top_3_df.columns = ['producer','avg_roi']
top_3_df.sort_values(by = 'avg_roi', ascending=False,inplace=True)
top_3_df.head(3)

         producer       avg_roi
146    Amir Zbeda  1.288939e+06
1185   Gregg Hale  4.132333e+05
2878  Robin Cowie  4.132333e+05

#####Making Tabel using 2nd Method (lambda function)

In [399]:
# We are going to make two columns ,namely producer and director, in the table itself
# producer column will contain list of producer
# director column will contain list of director

In [400]:
no_na_crew2 = no_na_crew.copy()
no_na_crew2.head(1)

   id    budget                          genres  ...   revenue   profit        roi
0   1  14000000  [{'id': 35, 'name': 'Comedy'}]  ...  12314651 -1685349 -12.038207

[1 rows x 10 columns]

In [401]:
no_na_crew2['crew'][0][0]
# no_na_crew2['crew'][0] = > first row

{'credit_id': '59ac067c92514107af02c8c8',
 'department': 'Directing',
 'gender': 0,
 'id': 1449071,
 'job': 'First Assistant Director',
 'name': 'Kelly Cantley',
 'profile_path': None}

In [402]:
# Creating producer column using lambda

no_na_crew2['producer'] = no_na_crew2['crew'].apply(lambda x : [i['name'] for i in x if i['job']=='Producer'])
no_na_crew2['director'] = no_na_crew2['crew'].apply(lambda x : [i['name'] for i in x if i['job']=='Director'])
# a = no_na_crew['crew'].apply(lambda x : [i['job'] for i in x])

In [403]:
no_na_crew2.head(1)

   id    budget  ...        producer      director
0   1  14000000  ...  [Andrew Panay]  [Steve Pink]

[1 rows x 12 columns]

In [404]:
new_table = no_na_crew2[['original_title','producer','director','roi']]
new_table

                                original_title  ...          roi
0                       Hot Tub Time Machine 2  ...   -12.038207
1     The Princess Diaries 2: Royal Engagement  ...   137.873588
2                                     Whiplash  ...   296.727273
3                                      Kahaani  ...  1233.333333
4                                           ...   -50.950375
...                                        ...  ...          ...
2995                                   Chasers  ...   -80.041412
2996                               Vi r bst!  ...   -97.742625
2997                   The Long Kiss Goodnight  ...    37.625786
2998                          Along Came Polly  ...   309.436633
2999                                 Abduction  ...   134.534729

[2984 rows x 4 columns]

#5. Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.

In [291]:
# Taking only those rows where cast is not null
# Leaving the rows where cast data is not given
actor_df = imdb_df_new[~imdb_df_new['cast'].isna()].copy()

In [292]:
actor_df.head(2)

   id    budget  ...    profit         roi
0   1  14000000  ...  -1685349  -12.038207
1   2  40000000  ...  55149435  137.873588

[2 rows x 10 columns]

In [293]:
actor_df[actor_df['genres'].isna()].head(1)

# We cannot leave the rows where genre data is not given bcz cast/actor data may be given for that...
#so we will replace nan with some value like empty list

      id   budget genres original_language  ... crew  revenue  profit      roi
470  471  2000000    NaN                en  ...  NaN  1672730 -327270 -16.3635

[1 rows x 10 columns]

In [294]:
actor_df['cast_list'] = actor_df['cast'].apply(lambda x : [i['name'] for i in x if len(x)!=0])

In [295]:
actor_df['genres'] = actor_df['genres'].fillna('[]')

# filling NaN value with '[]'
# Here [] is being inserted in the form of string, remember this

In [296]:
actor_df.head(2)

   id    budget  ...         roi                                          cast_list
0   1  14000000  ...  -12.038207  [Rob Corddry, Craig Robinson, Clark Duke, Adam...
1   2  40000000  ...  137.873588  [Anne Hathaway, Julie Andrews, Hctor Elizond...

[2 rows x 11 columns]

In [297]:
# for i in actor_df['genre_list']:
#   if i== '[]':
    # print(i)
    # for j in i:
    #   print(j['name'])

In [298]:
actor_df['genre_list'] = actor_df['genres'].apply(lambda x : [i['name'] for i in x if x!='[]'])

In [418]:
# for i in actor_df['genre_list']:
#   for j in i:
#     if type(j) == dict:
#       print(j['name'])

In [299]:
actor_df.head(2)

   id  ...                        genre_list
0   1  ...                          [Comedy]
1   2  ...  [Comedy, Drama, Family, Romance]

[2 rows x 12 columns]

In [300]:
# Taking only those columns which are necessary

actor_df = actor_df[['cast_list','genre_list','original_title','profit']]
actor_df.columns = ['cast','genre','movie','profit']
actor_df.head(2)

                                                cast  ...    profit
0  [Rob Corddry, Craig Robinson, Clark Duke, Adam...  ...  -1685349
1  [Anne Hathaway, Julie Andrews, Hctor Elizond...  ...  55149435

[2 rows x 4 columns]

#####Actors with most no of movies

In [301]:
# Exploding cast_list column
actor_df = actor_df.explode('cast')

In [302]:
# grouping by actor name
actor = pd.DataFrame(actor_df.groupby('cast').count().sort_values('genre',ascending=False)).reset_index()
# we can sort on any column(genre or movie or profit) bcz we are sorting the count not the column values and hence sort will be same on all column

actor

                       cast  genre  movie  profit
0         Samuel L. Jackson     30     30      30
1            Robert De Niro     30     30      30
2            Morgan Freeman     27     27      27
3               Liam Neeson     25     25      25
4            Susan Sarandon     25     25      25
...                     ...    ...    ...     ...
38583      Jonathan Simpson      1      1       1
38584      Jonathan Sawicki      1      1       1
38585  Jonathan Salomonsson      1      1       1
38586  Jonathan Safran Foer      1      1       1
38587      Larry Mullen Jr.      1      1       1

[38588 rows x 4 columns]

In [305]:
height_actor_list =[]
max = actor.loc[0,'genre']
for index,rows in actor.iterrows():
  if actor.loc[index,'genre'] == max:
    height_actor_list.append(actor.loc[index,'cast'])

height_actor_list

['Samuel L. Jackson', 'Robert De Niro']

In [307]:
print("Actors with heighest no of movies are ",height_actor_list)

Actors with heighest no of movies are  ['Samuel L. Jackson', 'Robert De Niro']

######Another way of counting no of movies for actor

In [412]:
another_way = actor_df.cast.value_counts().reset_index()
another_way.columns = [['Actor','no_of_movies']]
another_way

                        Actor no_of_movies
0              Robert De Niro           30
1           Samuel L. Jackson           30
2              Morgan Freeman           27
3              Susan Sarandon           25
4                J.K. Simmons           25
...                       ...          ...
38583           Paul Coughlan            1
38584  Alea Sophia Boudodimos            1
38585       Jonathan Baumbach            1
38586          Justine Herron            1
38587       Gran Ragnerstam            1

[38588 rows x 2 columns]

#####Printing movie, Genre and profit

In [308]:
height_actor_list

['Samuel L. Jackson', 'Robert De Niro']

In [321]:
# actor_df_new = actor_df[actor_df['cast'].isin (height_actor_list) ]
# actor_df_new

In [327]:
actor_df.head(1)

          cast     genre                   movie   profit
0  Rob Corddry  [Comedy]  Hot Tub Time Machine 2 -1685349

In [422]:
for actor in height_actor_list:
  actor_df_new = actor_df[actor_df['cast'] == actor ]
  movie_ist = []
  genre_list = []
  profit = 0
  for i in actor_df_new['genre']:
    for j in i:
      if j not in genre_list:
        genre_list.append(j)

  for i in actor_df_new['movie']:
    if i not in movie_ist:
      movie_ist.append(i)

  profit = actor_df_new['profit'].sum()

  print("For actor  :",actor)
  print('Movie list : ',movie_ist)
  print('genre list : ',genre_list)
  print('Profit : ',profit)

For actor  : Samuel L. Jackson
Movie list :  ['Changing Lanes', 'The Hateful Eight', 'Coming to America', 'Star Wars: Episode III - Revenge of the Sith', 'Meeting Evil', 'The Avengers', 'Jumper', 'Shaft', 'Snakes on a Plane', 'The Man', 'RoboCop', 'Jurassic Park', 'Cell', 'Star Wars: Episode II - Attack of the Clones', 'Eddie Murphy Raw', 'Captain America: The Winter Soldier', 'Jackie Brown', 'African Cats', 'Big Game', 'Black Snake Moan', 'Sea of Love', 'Deep Blue Sea', 'Basic', 'The Incredibles', 'Avengers: Age of Ultron', 'Out of Sight', 'Patriot Games', 'S.W.A.T.', 'Freedomland', 'The Long Kiss Goodnight']
genre list :  ['Action', 'Adventure', 'Crime', 'Thriller', 'Drama', 'Mystery', 'Western', 'Comedy', 'Romance', 'Science Fiction', 'Fantasy', 'Horror', 'Documentary', 'Family', 'Animation']
Profit :  6772108213
For actor  : Robert De Niro
Movie list :  ['This Boys Life', 'What Just Happened', 'Mad Dog and Glory', 'The Good Shepherd', 'Lenny Bruce: Swear to Tell the Truth', 'Red Lights', 'Falling in Love', 'Wag the Dog', 'Meet the Parents', "Marvin's Room", 'Sleepers', 'The Fan', 'The Family', 'Stone', 'Being Flynn', 'Righteous Kill', 'American Hustle', 'Jackie Brown', 'Raging Bull', 'Angel Heart', 'Joy', 'The Deer Hunter', 'Stanley & Iris', 'Machete', 'Mean Streets', 'Men of Honor', 'Analyze This', 'The Bag Man', 'The Score', 'Backdraft']
genre list :  ['Drama', 'Comedy', 'Crime', 'Romance', 'Thriller', 'History', 'Documentary', 'Mystery', 'Action', 'Horror', 'War']
Profit :  853312528

In [423]:
actor_df_new

                cast  ...     profit
409   Robert De Niro  ...   -3895038
506   Robert De Niro  ...  -18326578
553   Robert De Niro  ...    3081586
704   Robert De Niro  ...  -25091435
752   Robert De Niro  ...   -7978650
805   Robert De Niro  ...    -448826
1170  Robert De Niro  ...    3129057
1192  Robert De Niro  ...   49256513
1217  Robert De Niro  ...  275444045
1374  Robert De Niro  ...  -10196695
1389  Robert De Niro  ...  121615285
1398  Robert De Niro  ...  -36373581
1405  Robert De Niro  ...    6894225
1559  Robert De Niro  ...  -12520282
1626  Robert De Niro  ...   -7459848
1836  Robert De Niro  ...   13174566
1879  Robert De Niro  ...  211171807
1916  Robert De Niro  ...   27673162
2028  Robert De Niro  ...    5000000
2078  Robert De Niro  ...     185632
2164  Robert De Niro  ...   41134059
2222  Robert De Niro  ...   35000000
2238  Robert De Niro  ...  -17179985
2247  Robert De Niro  ...   11327899
2270  Robert De Niro  ...    2500000
2409  Robert De Niro  ...   16814909
2606  Robert De Niro  ...   96885658
2789  Robert De Niro  ...   -7943426
2895  Robert De Niro  ...    3069884
2901  Robert De Niro  ...   77368585

[30 rows x 4 columns]

#####Another way of presenting actors info

In [452]:
robert_info = pd.DataFrame()
another_way_info = actor_df.reset_index().drop('index',axis=1)
for index,rows in another_way_info.iterrows(): #iterating through rows
  if another_way_info.loc[index,'cast'] == 'Robert De Niro': #checking if cast name is R D N
    robert_info=robert_info.append(another_way_info.iloc[index]) # if yes, then appending the row info into dataframe robert_info
robert_info

                 cast  ...       profit
8016   Robert De Niro  ...   -3895038.0
9916   Robert De Niro  ...  -18326578.0
10848  Robert De Niro  ...    3081586.0
14416  Robert De Niro  ...  -25091435.0
15463  Robert De Niro  ...   -7978650.0
16691  Robert De Niro  ...    -448826.0
24103  Robert De Niro  ...    3129057.0
24632  Robert De Niro  ...   49256513.0
25208  Robert De Niro  ...  275444045.0
28064  Robert De Niro  ...  -10196695.0
28379  Robert De Niro  ...  121615285.0
28632  Robert De Niro  ...  -36373581.0
28758  Robert De Niro  ...    6894225.0
31932  Robert De Niro  ...  -12520282.0
33547  Robert De Niro  ...   -7459848.0
37506  Robert De Niro  ...   13174566.0
38525  Robert De Niro  ...  211171807.0
39269  Robert De Niro  ...   27673162.0
41402  Robert De Niro  ...    5000000.0
42563  Robert De Niro  ...     185632.0
44392  Robert De Niro  ...   41134059.0
45677  Robert De Niro  ...   35000000.0
45981  Robert De Niro  ...  -17179985.0
46176  Robert De Niro  ...   11327899.0
46763  Robert De Niro  ...    2500000.0
49967  Robert De Niro  ...   16814909.0
53946  Robert De Niro  ...   96885658.0
57507  Robert De Niro  ...   -7943426.0
59718  Robert De Niro  ...    3069884.0
59808  Robert De Niro  ...   77368585.0

[30 rows x 4 columns]

In [453]:
Samuel_info = pd.DataFrame()
# another_way_info = actor_df.reset_index().drop('index',axis=1)
for index,rows in another_way_info.iterrows():
  if another_way_info.loc[index,'cast'] == 'Samuel L. Jackson':
    Samuel_info=Samuel_info.append(another_way_info.iloc[index])
Samuel_info

                    cast  ...        profit
599    Samuel L. Jackson  ...  4.993576e+07
937    Samuel L. Jackson  ...  1.117601e+08
12709  Samuel L. Jackson  ...  2.497523e+08
14009  Samuel L. Jackson  ...  7.370000e+08
21736  Samuel L. Jackson  ...  8.807068e+06
23145  Samuel L. Jackson  ...  1.299558e+09
24279  Samuel L. Jackson  ...  1.372312e+08
29139  Samuel L. Jackson  ...  6.119650e+07
30470  Samuel L. Jackson  ...  2.902201e+07
32474  Samuel L. Jackson  ...  4.382362e+06
35411  Samuel L. Jackson  ...  1.226890e+08
35876  Samuel L. Jackson  ...  8.571000e+08
36464  Samuel L. Jackson  ... -6.866969e+06
37233  Samuel L. Jackson  ...  5.293983e+08
37854  Samuel L. Jackson  ...  4.250466e+07
37969  Samuel L. Jackson  ...  5.447666e+08
39265  Samuel L. Jackson  ...  2.767316e+07
39304  Samuel L. Jackson  ...  7.240456e+06
40148  Samuel L. Jackson  ... -1.000000e+06
45550  Samuel L. Jackson  ... -4.096154e+06
46098  Samuel L. Jackson  ...  9.187951e+07
50416  Samuel L. Jackson  ...  1.364823e+07
52827  Samuel L. Jackson  ... -7.207439e+06
56567  Samuel L. Jackson  ...  5.394421e+08
57146  Samuel L. Jackson  ...  1.125404e+09
57406  Samuel L. Jackson  ...  2.974557e+07
59771  Samuel L. Jackson  ...  1.330516e+08
61540  Samuel L. Jackson  ...  3.664335e+07
61556  Samuel L. Jackson  ... -2.300937e+07
61750  Samuel L. Jackson  ...  2.445676e+07

[30 rows x 4 columns]

#6. Top 3 directors prefer which actors the most?

In [468]:
# taking only needed columns
directors_df = imdb_df_new[['crew','cast','profit']]
directors_df.head(1)

                                                crew  ...   profit
0  [{'credit_id': '59ac067c92514107af02c8c8', 'de...  ... -1685349

[1 rows x 3 columns]

In [469]:
# checking for NaN value in crew where director info is given
directors_df[directors_df['crew'].isna()].head(1)

    crew                                               cast  profit
470  NaN  [{'cast_id': 1, 'character': 'Sam', 'credit_id... -327270

In [470]:
# Since there are NaN values in crew so
# only taking those rows where crew is not NaN
# bcz if director info is not available then that row cannot contribute in top 3 director
directors_df = directors_df[~directors_df['crew'].isna()]

In [475]:
## checking for NaN value in cast.
#Since there is no NaN value , no need to do any thing to make data sanity like replacing NaN value with empty list []
directors_df[directors_df['cast'].isna()]

Empty DataFrame
Columns: [crew, cast, profit]
Index: []

In [478]:
# taking directors name from crew data
directors_df['crew'] = directors_df['crew'].apply(lambda x : [i['name'] for i in x if i['job'] == 'Director'])

In [480]:
directors_df.head(1)

           crew                                               cast   profit
0  [Steve Pink]  [{'cast_id': 4, 'character': 'Lou', 'credit_id... -1685349

In [481]:
# Director name from list format to string format
directors_df['crew'] = directors_df['crew'].apply(lambda x : x[0])

In [483]:
directors_df.head(1)

         crew                                               cast   profit
0  Steve Pink  [{'cast_id': 4, 'character': 'Lou', 'credit_id... -1685349

In [485]:
# taking actors name from cast data
directors_df['cast'] = directors_df['cast'].apply(lambda x : [i['name'] for i in x if len(x)!=0])

In [486]:
directors_df.head(1)

         crew                                               cast   profit
0  Steve Pink  [Rob Corddry, Craig Robinson, Clark Duke, Adam... -1685349

In [487]:
directors_df.columns = ['director','cast','profit']

In [505]:
# groupby on director to find top 3 director on the basis of profit

profit_df = directors_df.groupby('director')['profit'].sum().reset_index().sort_values('profit',ascending=False)
profit_df.reset_index(inplace=True)

In [506]:
profit_df.drop('index',axis = 1)

              director      profit
0     Steven Spielberg  3479905229
1        Peter Jackson  3476044134
2          Michael Bay  2982752453
3          Joss Whedon  2424961604
4            James Wan  2001105637
...                ...         ...
1852   Michael Lehmann   -59201757
1853        John Bruno   -60989310
1854   James L. Brooks   -71331093
1855      Baz Luhrmann   -80445998
1856      Renny Harlin   -93852039

[1857 rows x 2 columns]

In [507]:
top_3_director = [profit_df.loc[0,'director'],profit_df.loc[1,'director'],profit_df.loc[2,'director']]
top_3_director

['Steven Spielberg', 'Peter Jackson', 'Michael Bay']

In [509]:
# Now Taking rows of only these 3 directors
directors_df_top3 = directors_df[directors_df['director'].isin(top_3_director)]
directors_df_top3

              director  ...     profit
14    Steven Spielberg  ...  256372926
114      Peter Jackson  ...  778368364
211   Steven Spielberg  ...  463654000
359      Peter Jackson  ...   28525586
537        Michael Bay  ...  260062621
538   Steven Spielberg  ...  426171806
543      Peter Jackson  ...  847287400
666      Peter Jackson  ...  708400000
902   Steven Spielberg  ...  601636033
962        Michael Bay  ...  122407024
1151       Michael Bay  ...  559709780
1332       Michael Bay  ...  686297228
1630       Michael Bay  ...  344942143
1735  Steven Spielberg  ...  857100000
1996       Michael Bay  ...   19411370
2035     Peter Jackson  ...  343000000
2044  Steven Spielberg  ...  241940071
2322       Michael Bay  ...  928746996
2340     Peter Jackson  ...    -640784
2351  Steven Spielberg  ...  305000000
2521  Steven Spielberg  ...   43134790
2532     Peter Jackson  ...  771103568
2815       Michael Bay  ...   61175291
2881  Steven Spielberg  ...  125478348
2993  Steven Spielberg  ...  159417255

[25 rows x 3 columns]

In [514]:
actor = directors_df_top3['cast'].explode().value_counts().reset_index().loc[0,'index']

In [515]:
print("top 3 director works most with ",actor)

top 3 director works most with  Hugo Weaving